<div class="pqr-section text-center">
  <div class="container-fluid">
    <h2 class="section-title">Bienvenido al chat</h2>
    <p class="section-description">Ingresa el correo del usuario para iniciar un chat</p>
    <form class="pqr-form" [formGroup]="theFormGroup">
      <div class="form-group">
        <input type="email" class="form-control" formControlName="email" placeholder="Ingresa el correo electronico">
        <div *ngIf="getTheFormGroup.email.errors && (getTheFormGroup.email.dirty ||
                          getTheFormGroup.email.touched || trySend)">
          <strong *ngIf="getTheFormGroup.email.errors.required" class="msnError">
            El correo electronico es requerido
          </strong>
        </div>
      </div>
      <button class="btn btn-primary" (click)="verify()">Enviar</button>
    </form>
  </div>
</div>
