<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h1 *ngIf="mode == 1" class="mb-0">Visualizar</h1>
          <h1 *ngIf="mode == 2" class="mb-0">Crear</h1>
          <h1 *ngIf="mode == 3" class="mb-0">Actualizar</h1>
        </div>
        <div class="card-body">
          <!-- Campo ID -->
          <div class="row">
            <div class="col-4">
              <label>id:</label>
            </div>
            <div class="col-8">
              <input type="number" class="form-control" disabled [(ngModel)]="client.id">
            </div>
          </div>
          <br>
          <!-- Campo tipo documento -->
          <div class="row">
            <div class="col-4">
              <label>Tipo de documento:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="client.id_type" [disabled]="mode == 1">
            </div>
          </div>
          <br>
          <!-- Campo documento -->
          <div class="row">
            <div class="col-4">
              <label>Documento:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="client.id_number" [disabled]="mode == 1">
            </div>
          </div>
          <br>
          <!-- Campo telefono -->
          <div class="row">
            <div class="col-4">
              <label>Teléfono:</label>
            </div>
            <div class="col-8">
              <input type="number" class="form-control" [(ngModel)]="client.phone_number" [disabled]="mode == 1">
            </div>
          </div>
          <br>
          <!-- Campo orden -->
          <div class="row">
            <div class="col-4">
              <label>Orden:</label>
            </div>
            <div class="col-8">
              <input type="number" class="form-control" [(ngModel)]="client.order_count" [disabled]="mode == 1">
            </div>
          </div>
          <br>
          <!-- Campo usuario -->
          <div class="row">
            <div class="col-4">
              <label>Usuario:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="client.user_id" [disabled]="mode == 1">
            </div>
          </div>
          <br>
          <!--Botones-->
          <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
              <button *ngIf="mode == 2" class="btn btn-success btn-block" (click)="create()">
                Crear
              </button>
              <button *ngIf="mode == 3" class="btn btn-success btn-block" (click)="update()">
                Actualizar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
