<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Contenido de la página -->
<div class="container-fluid mt--7">
  <!-- Tarjeta principal -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <!-- Encabezado de la tarjeta -->
        <div class="card-header border-0">
          <h1 *ngIf="mode == 1" class="mb-0">Visualizar</h1>
          <h1 *ngIf="mode == 2" class="mb-0">Crear</h1>
          <h1 *ngIf="mode == 3" class="mb-0">Actualizar</h1>
        </div>
        <!-- Cuerpo de la tarjeta -->
        <div class="card-body">
          <!-- Campo ID -->
          <div class="row">
            <div class="col-4">
              <label>Id:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" disabled [(ngModel)]="products.id">
            </div>
          </div>
          <br />

          <!-- Campo Nombre -->
          <div class="row">
            <div class="col-4">
              <label>Nombre</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="products.name" [disabled]="mode == 1">
            </div>
          </div>
          <br />

          <!-- Campo Descripción -->
          <div class="row">
            <div class="col-4">
              <label>Descripción</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="products.description" [disabled]="mode == 1">
            </div>
          </div>
          <br />

          <!-- Campo Fecha de vencimiento -->
          <div class="row mb-1">
            <div class="col-4">Fecha:</div>
            <div class="col-8">
              <input *ngIf="mode!=1" type="text" class="form-control" [(ngModel)]="products.expiration_date"
                formControlName="date" />
              <div>
                <div
                  *ngIf="getTheFormGroup.date.errors && (getTheFormGroup.date.dirty || getTheFormGroup.date.touched ||trySend)">
                  <strong *ngIf="getTheFormGroup.date.errors.required" class="msnError">
                    La fecha es requerida</strong>
                  <strong *ngIf="getTheFormGroup.date.errors.minlength" class="msnError">Al menos 3 caracteres</strong>
                  <strong *ngIf="getTheFormGroup.date.errors.maxlength" class="msnError">Máximo 50 caracteres</strong>
                </div>
              </div>
              <span *ngIf="mode == 1">{{products.expiration_date |date: 'dd/MM/yyyy'}}</span>
            </div>
          </div>
          <br />

          <!-- Campo Cliente -->
          <div class="row">
            <div class="col-4">
              <label>Cliente</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="products.client_id" [disabled]="mode == 1">
            </div>
          </div>
          <br />

          <!-- Campo Lote -->
          <div class="row">
            <div class="col-4">
              <label>Lote</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="products.batch_id" [disabled]="mode == 1">
            </div>
          </div>
          <br />

          <!-- Botones de acción -->
          <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
              <button *ngIf="mode == 2" class="btn btn-success btn-block" (click)="create()">
                Crear
              </button>
              <button *ngIf="mode == 3" class="btn btn-success btn-block" (click)="update()">
                Actualizar
              </button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
