<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row">
            <div class="col-3"></div>
          </div>
          <h3 class="mb-0">Vehículos</h3>
        </div>
        <div class="col-6"></div>
        <div class="col-3">
          <button type="button" class="btn btn-success" (click)="create()">Crear</button>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col-1">ID</th>
                <th scope="col-2">Placa vehiculo</th>
                <th scope="col-3">Modelo</th>
                <th scope="col-2">Capacidad</th>
                <th scope="col-2">Tipo carga</th>
                <th scope="col-2">Ubicación inicial</th>
                <th scope="col-2">Ubicación final</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let veh of vehicles">
                <td>{{ veh.id }}</td>
                <td>{{ veh.license_plate }}</td>
                <td>{{ veh.model }}</td>
                <td>{{ veh.capacity }}</td>
                <td>{{ veh.cargo_type }}</td>
                <td>{{ veh.latitud_inicial + " , " + veh.longitud_inicial }}</td>
                <td>{{ veh.latitud_final + " , " + veh.longitud_final }}</td>
                <td>
                  <div class="d-flex flex-wrap justify-content-between">
                    <button type="button" class="btn btn-primary btn-sm mb-2" (click)="view(veh.id)">Ver</button>
                    <button type="button" class="btn btn-warning btn-sm mb-2" (click)="update(veh.id)">Actualizar</button>
                    <button type="button" class="btn btn-danger btn-sm mb-2" (click)="delete(veh.id)">Eliminar</button>
                    <button type="button" class="btn btn-aqua btn-sm mb-2" (click)="location(veh.id)">Ubicación</button>
                    <button type="button" class="btn btn-info btn-sm mb-2" (click)="showOperations(veh.id)">Operaciones</button>
                    <button type="button" class="btn btn-info btn-sm mb-2" (click)="showVehicleOwners(veh.id)">Vehículo Dueño</button>
                    <button type="button" class="btn btn-info btn-sm mb-2" (click)="showVehicleDriver(veh.id)">Vehículo Conductor</button>
                    <button type="button" class="btn btn-info btn-sm mb-2" (click)="showRoute(veh.id)">Rutas</button>
                    <button type="button" class="btn btn-info btn-sm mb-2" (click)="showInsurance(veh.id)">Seguros</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
