<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Actualizar</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Crear</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="theFormGroup">
            <div class="container d-grid gap-3">
              <div class="row mb-1" *ngIf="mode == 1">
                <div class="col-4">User id</div>
                <div class="col-8">
                  {{ user._id }}
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-4">Nombre:</div>
                <div class="col-8">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="user.name"
                    formControlName="name"
                  />
                  <div>
                    <div
                      *ngIf="
                        getTheFormGroup.name.errors &&
                        (getTheFormGroup.name.dirty ||
                          getTheFormGroup.name.touched ||
                          trySend)
                      "
                    >
                      <strong
                        *ngIf="getTheFormGroup.name.errors.required"
                        class="msnError"
                      >
                        Nombre es requerido</strong
                      >
                      <strong
                        *ngIf="getTheFormGroup.name.errors.minlength"
                        class="msnError"
                        >Inválido</strong
                      >
                      <strong
                        *ngIf="getTheFormGroup.name.errors.maxlength"
                        class="msnError"
                      >
                        Invalido
                      </strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-4">Email:</div>
                <div class="col-8">
                  <input
                    type="email"
                    class="form-control"
                    [(ngModel)]="user.email"
                    formControlName="email"
                  />
                  <div>
                    <div
                      *ngIf="
                        getTheFormGroup.email.errors &&
                        (getTheFormGroup.email.dirty ||
                          getTheFormGroup.email.touched ||
                          trySend)
                      "
                    >
                      <strong
                        *ngIf="getTheFormGroup.email.errors.required"
                        class="msnError"
                      >
                        Email es requerido</strong
                      >
                      <strong
                        *ngIf="getTheFormGroup.email.errors.pattern"
                        class="msnError"
                      >
                        Email inválido</strong
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-4">Roles</div>
                <div class="col-8">
                  <select
                    class="form-control"
                    [(ngModel)]="role._id!"
                    formControlName="role"
                  >
                    <option
                      *ngFor="let r of roles"
                      [selected]="r._id == role?._id"
                      [value]="r._id"
                    >
                      {{ r.name }}
                    </option>
                  </select>
                  <div>
                    <div
                      *ngIf="
                        getTheFormGroup.role.errors &&
                        (getTheFormGroup.role.dirty ||
                          getTheFormGroup.role.touched ||
                          trySend)
                      "
                    >
                      <strong
                        *ngIf="getTheFormGroup.role.errors.required"
                        class="msnError"
                      >
                        Role es requerido</strong
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-4"></div>
                <div class="col-8">
                  <div class="d-flex align-items-center justify-content-center">
                    <button
                      *ngIf="mode == 2"
                      class="btn btn-primary btn-block"
                      (click)="update()"
                    >
                      Actualizar
                    </button>
                    <button
                      *ngIf="mode == 3"
                      class="btn btn-primary btn-block"
                      (click)="create()"
                    >
                      Crear
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
