<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page Content -->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <!-- Encabezado -->
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0" *ngIf="!vehicle_id">
                                Seguro
                              </h3>
                              <h3 class="mb-0" *ngIf="vehicle_id">
                                Seguros del Vehiculo #{{ vehicle_id }}
                              </h3>
                        </div>
                        <div class="col-auto">
                            <button *ngIf="!vehicle_id" type="button" class="btn btn-success" (click)="create()">Crear</button>
                            <button *ngIf="vehicle_id" type="button" class="btn btn-success" (click)="createForVehicle()">Crear Seguro para Vehiculo</button>
                        </div>
                    </div>
                </div>
                <!-- Tabla -->
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tipo de Seguro</th>
                                    <th scope="col">Fecha Inicial</th>
                                    <th scope="col">Fecha Final</th>
                                    <th scope="col">Compañía de Seguros</th>
                                    <th scope="col">Vehículo ID</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let seg of insurances">
                                    <td>{{ seg.id }}</td>
                                    <td>{{ seg.insurance_type }}</td>
                                    <td>{{ seg.start_date | date }}</td>
                                    <td>{{ seg.end_date | date }}</td>
                                    <td>{{ seg.insurance_company }}</td>
                                    <td>{{ seg.vehicle_id }}</td>
                                    <td>
                                        <div class="d-flex gap-2">
                                            <button type="button" class="btn btn-primary btn-sm" (click)="view(seg.id)">Ver</button>
                                            <button type="button" class="btn btn-warning btn-sm" (click)="update(seg.id)">Actualizar</button>
                                            <button type="button" class="btn btn-danger btn-sm" (click)="delete(seg.id)">Eliminar</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
