<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row">
            <div class="col-3">
            </div>
          </div>
          <h3 class="mb-0" *ngIf="batch_id && !client_id">
            Productos del Lote #{{ batch_id }}
          </h3>
          <h3 class="mb-0" *ngIf="client_id && !batch_id">
            Productos del Cliente #{{ client_id }}
          </h3>
          <h3 class="mb-0" *ngIf="!batch_id && !client_id">
            Productos
          </h3>
        </div>
        <div class="col-6">
        </div>
        <div class="col-3">
          <button *ngIf="!batch_id && !client_id" type="button" class="btn btn-success" (click)="create()">Crear</button>
          <button *ngIf="batch_id && !client_id" type="button" class="btn btn-success" (click)="createForBatch()">Crear producto para Lote</button>
          <button *ngIf="client_id && !batch_id" type="button" class="btn btn-success" (click)="createForClient()">Crear producto para Cliente</button>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col-1">ID</th>
                <th scope="col-2">Nombre</th>
                <th scope="col-3">Descripcion</th>
                <th scope="col-4">Fecha vencimiento</th>
                <th scope="col-5">Cliente</th>
                <th scope="col-6">Lote</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pd of products">
                <td>{{ pd.id }}</td>
                <td>{{ pd.name }}</td>
                <td>{{ pd.description }}</td>
                <td>{{ pd.expiration_date | date }}</td>
                <td>{{ pd.client_id }}</td>
                <td>{{ pd.batch_id }}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="view(pd.id)">Ver</button>
                  <button type="button" class="btn btn-warning" (click)="update(pd.id)">Actualizar</button>
                  <button type="button" class="btn btn-danger" (click)="delete(pd.id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>