<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row">
            <div class="col-3"></div>
          </div>
          <h3 class="mb=0">Gastos</h3>
        </div>
        <div class="col-6"></div>
        <div class="col-3">
          <button type="button" class="btn btn-success" (click)="create()">
            Crear
          </button>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col-1">ID</th>
                <th scope="col-2">Monto</th>
                <th scope="col-3">Id del conductor</th>
                <th scope="col-2">Id del dueño</th>
                <th scope="col-2">id del servicio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let exp of expense">
                <td>{{ exp.id }}</td>
                <td>{{ exp.amount }}</td>
                <td>{{ exp.driver_id }}</td>
                <td>{{ exp.owner_id }}</td>
                <td>{{ exp.service_id }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="view(exp.id)"
                  >
                    Ver
                  </button>
                  <button
                    type="button"
                    class="btn btn-warning"
                    (click)="update(exp.id)"
                  >
                    Actualizar
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="delete(exp.id)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
