<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h1 *ngIf="mode == 1" class="mb-0">Visualizar</h1>
                    <h1 *ngIf="mode == 2" class="mb-0">Crear</h1>
                    <h1 *ngIf="mode == 3" class="mb-0">Actualizar</h1>
                    <h1 *ngIf="mode == 4" class="mb-0">Crear Orden-Direccion-Ruta  Ruta_Id #{{AddreRouteOrder.route_id}}</h1>
          <h1 *ngIf="mode == 5" class="mb-0">Crear Orden-Direccion-Ruta Drirección_id #{{AddreRouteOrder.address_id}}</h1>
                </div>
                <form class="form" [formGroup]="theFormGroup">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <label>id:</label>
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" disabled [(ngModel)]="AddreRouteOrder.id" formControlName="id"> 
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-4">
                                <label>Dirección Id</label>
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" [(ngModel)]="AddreRouteOrder.address_id" formControlName="address_id"> 

                                <div *ngIf="
                                getTheFormGroup.address_id.errors &&
                                (getTheFormGroup.address_id.dirty ||
                                  getTheFormGroup.address_id.touched ||
                                  trySend)
                              ">
                              <!-- si el form group location tine un error de requerido colocamos un mensaje de requerido --><strong *ngIf="getTheFormGroup.address_id.errors.required"
                                                    class="msnError text-danger">Requerido</strong>
                                                    <!-- si tiene un erro de longitud minima entonces colocamos el error -->
                                                    <strong *ngIf="getTheFormGroup.address_id.errors.pattern" class="msnError text-success">El valor debe ser un valor numérico</strong>
                                                   
                                            </div>
                            </div>
                        </div>
                        <br />
                
                        <div class="row">
                            <div class="col-4">
                                <label>Ruta Id</label>
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" [(ngModel)]="AddreRouteOrder.route_id" formControlName="route_id">
                                <div *ngIf="
                                getTheFormGroup.route_id.errors &&
                                (getTheFormGroup.route_id.dirty ||
                                  getTheFormGroup.route_id.touched ||
                                  trySend)
                              ">
                              <!-- si el form group location tine un error de requerido colocamos un mensaje de requerido -->
                                                <strong *ngIf="getTheFormGroup.route_id.errors.required"
                                                    class="msnError text-danger">Requerido</strong>
                                                    <strong *ngIf="getTheFormGroup.route_id.errors.pattern" class="msnError text-success">El valor debe ser un valor numérico</strong>
                                            </div>  
                            </div>
                        </div>                        
                        <br>   
                        <div class="row">
                            <div class="col-4">
                                <label>Orden Ruta</label>
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" [(ngModel)]="AddreRouteOrder.order_by" formControlName="order_by">
                                <div *ngIf="
                                getTheFormGroup.order_by.errors &&
                                (getTheFormGroup.order_by.dirty ||
                                  getTheFormGroup.order_by.touched ||
                                  trySend)
                              ">
                              <!-- si el form group location tine un error de requerido colocamos un mensaje de requerido -->
                                                <strong *ngIf="getTheFormGroup.order_by.errors.required"
                                                    class="msnError text-danger">Requerido</strong>
                                                    <strong *ngIf="getTheFormGroup.order_by.errors.pattern" class="msnError text-success">El valor debe ser un valor numérico</strong>
                                            </div>  
                            </div>
                        </div>                        
                        <br>  
                        
                        <div class="row">
                            <div class="col-4">
                              <label for="batch">Lote</label>
                            </div>
                            <div class="col-8">
                              <select id="batch" class="form-control" formControlName="batch" [(ngModel)]="AddreRouteOrder.batch.id">
                                <option *ngFor="let option of batch" [value]="option.id">peso: {{option.weight.name}} ruta_id-{{option.route_id}}</option>
                              </select>
                            </div>
                          </div>

                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <button *ngIf="mode == 2" class="btn btn-success btn-block" (click)="create()">
                                    Crear
                                </button>
                                <button *ngIf="mode == 3" class="btn btn-success btn-block" (click)="update()">
                                    Actualizar
                                </button>
                                <button 
                                *ngIf="mode == 4" 
                                class="btn btn-success btn-block" 
                                (click)="createForRoute()">
                                Crear para Ruta
                              </button>
                              <button 
                              *ngIf="mode == 5" 
                              class="btn btn-success btn-block" 
                              (click)="createForAddress()">
                              Crear para Dirección
                            </button>
                            </div>
                        </div>
                    </div>     
                </form>    
            </div>
        </div>
    </div>
</div>