<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
  <!-- page content -->
<div class="container-fluid mt--7">
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header bg-transparent">
                <div class="row">
                    <div class="col-3">
                    </div>
                </div>
                <h3 class="mb=0">Municipios</h3>
            </div>
            <div class="col-6">

            </div>
            <div class="col-3">
                <button type="button" class="btn btn-success" (click) ="create()">Crear</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                <table class="table  align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col-1">ID</th>
                            <th scope="col-2">Nombre</th>
                            <th scope="col-3">Superficie</th>
                            <th scope="col-2">Código Postal</th>
                            <th scope="col-2">Departamento_id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mun of municipalities">
                            <td>{{ mun.id }}</td>
                            <td>{{ mun.name }}</td>
                            <td>{{ mun.surface }}</td>
                            <td>{{ mun.postalCode }}</td>
                            <td>{{ mun.department_id }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="view(mun.id)">Ver</button>
                                <button type="button" class="btn btn-warning" (click)="update(mun.id)">Actualizar</button>
                                <button type="button" class="btn btn-danger" (click)="delete(mun.id)">Eliminar</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <!-- <pagination-controls (pageChange)="page = $event"></pagination-controls> -->
            </div>
        </div>
    </div>
</div>  
</div>