<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
  <!-- page content -->
<div class="container-fluid mt--7">
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header bg-transparent">
                <div class="row">
                    <div class="col-3">
                    </div>
                </div>
                <h3 class="mb-0" *ngIf="driver_id && !vehicle_id">
                    Conductor del Vehiculo-Conductor_id #{{ driver_id }}
                  </h3>
                  <h3 class="mb-0" *ngIf="!driver_id && vehicle_id">
                    Conductor del Vehiculo-Vehiculo_id #{{ vehicle_id }}
                  </h3>
                  <h3 class="mb-0" *ngIf="!driver_id && !vehicle_id">
                    Conductor del Vehiculo
                  </h3>
            </div>
            <div class="col-6">
            </div>
            <div class="col-3">
                <button
                *ngIf="!driver_id && !vehicle_id"
                type="button"
                class="btn btn-success"
                (click)="create()"
              >
                Crear
              </button>
              <button
                *ngIf="driver_id && !vehicle_id"
                type="button"
                class="btn btn-success"
                (click)="createForDriver()"
              >
                Crear Conductor del Vehiculo para Dueño
              </button>
              <button
                *ngIf="vehicle_id && !driver_id"
                type="button"
                class="btn btn-success"
                (click)="createForVehicle()"
              >
                Crear Conductor del Vehiculo para Vehiculo
              </button>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col-1">ID</th>
                            <th scope="col-2">Id de vehiculo</th>
                            <th scope="col-3">Id de conductor</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let due of vehicledriver">
                            <td>{{ due.id }}</td>
                            <td>{{ due.vehicle_id }}</td>
                            <td>{{ due.driver_id }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="view(due.id )">Ver</button>
                                <button type="button" class="btn btn-warning" (click)="update(due.id )">Actualizar</button>
                                <button type="button" class="btn btn-danger" (click)="delete(due.id )">Eliminar</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>  
</div>