<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Contenido de la página -->
<div class="container-fluid mt--7">
  <!-- Tarjeta principal -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <!-- Encabezado de la tarjeta -->
        <div class="card-header border-0">
          <h1 *ngIf="mode == 1" class="mb-0">Visualizar</h1>
          <h1 *ngIf="mode == 2" class="mb-0">Crear</h1>
          <h1 *ngIf="mode == 3" class="mb-0">Actualizar</h1>
        </div>
        <form class="form" [formGroup]="theFormGroup">
        <!-- Cuerpo de la tarjeta -->
        <div class="card-body">
          <!-- Campo ID -->
          <div class="row">
            <div class="col-4">
              <label>Id:</label>
            </div>
            <div class="col-8">
              <input type="number" class="form-control" disabled [(ngModel)]="routes.id"
              formControlName="id">
            </div>
          </div>
          <br />

          <!-- Campo Lugar de Inicio -->
          <div class="row">
            <div class="col-4">
              <label>Lugar de Inicio</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="routes.starting_place" formControlName="starting_place">
              <div
              *ngIf="
                getTheFormGroup.starting_place.errors &&
                (getTheFormGroup.starting_place.dirty ||
                  getTheFormGroup.starting_place.touched ||
                  trySend)
              "
            >
              <!-- si el form group location tine un error de requerido colocamos un mensaje de requerido -->
              <strong
                *ngIf="getTheFormGroup.starting_place.errors.required"
                class="msnError text-danger"
                >Requerido</strong
              >
              <strong
              *ngIf="getTheFormGroup.starting_place.errors.pattern"
              class="msnError text-danger"
              >Solo se permiten letras, números y espacios</strong
            >
            </div>
            </div>
          </div>
          <br />

          <!-- Campo Lugar de Fin -->
          <div class="row">
            <div class="col-4">
              <label>Lugar de Fin</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="routes.ending_place" formControlName="ending_place">
              <div
              *ngIf="
                getTheFormGroup.ending_place.errors &&
                (getTheFormGroup.ending_place.dirty ||
                  getTheFormGroup.ending_place.touched ||
                  trySend)
              "
            >
              <!-- si el form group location tine un error de requerido colocamos un mensaje de requerido -->
              <strong
                *ngIf="getTheFormGroup.ending_place.errors.required"
                class="msnError text-danger"
                >Requerido</strong
              >
              <strong
              *ngIf="getTheFormGroup.ending_place.errors.pattern"
              class="msnError text-danger"
              >Solo se permiten letras, números y espacios</strong
            >
            </div>
            </div>
          </div>
          <br />

          <!-- Campo Distancia -->
          <div class="row">
            <div class="col-4">
              <label>Distancia</label>
            </div>
            <div class="col-8">
              <input type="number" class="form-control" [(ngModel)]="routes.distance" formControlName="distance">
              <div
              *ngIf="
                getTheFormGroup.distance.errors &&
                (getTheFormGroup.distance.dirty ||
                  getTheFormGroup.distance.touched ||
                  trySend)
              "
            >
              <!-- si el form group location tine un error de requerido colocamos un mensaje de requerido -->
              <strong
                *ngIf="getTheFormGroup.distance.errors.required"
                class="msnError text-danger"
                >Requerido</strong
              >
              <strong
              *ngIf="getTheFormGroup.distance.errors.pattern"
              class="msnError text-danger"
              >Solo se permiten números</strong
            >
            </div>
            </div>
          </div>
          <br />

          <!-- Campo Fecha de Entrega -->
          <div class="row">
            <div class="col-4">
              <label>Fecha de Entrega</label>
            </div>
            <div class="col-8">
              <input type="date" class="form-control" [(ngModel)]="routes.delivery_date" formControlName="delivery_date">
              <div
              *ngIf="
                getTheFormGroup.delivery_date.errors &&
                (getTheFormGroup.delivery_date.dirty ||
                  getTheFormGroup.delivery_date.touched ||
                  trySend)
              "
            >
              <!-- si el form group location tine un error de requerido colocamos un mensaje de requerido -->
              <strong
                *ngIf="getTheFormGroup.delivery_date.errors.required"
                class="msnError text-danger"
                >Requerido</strong
              >
            </div>
            </div>
          </div>
          <br />

          <!-- Campo ID del Contrato -->
          <div class="row">
            <div class="col-4">
              <label>ID del Contrato</label>
            </div>
            <div class="col-8">
              <input type="number" class="form-control" [(ngModel)]="routes.contract_id" formControlName="contract_id">
              <div
              *ngIf="
                getTheFormGroup.contract_id.errors &&
                (getTheFormGroup.contract_id.dirty ||
                  getTheFormGroup.contract_id.touched ||
                  trySend)
              "
            >
              <!-- si el form group location tine un error de requerido colocamos un mensaje de requerido -->
              <strong
                *ngIf="getTheFormGroup.contract_id.errors.required"
                class="msnError text-danger"
                >Requerido</strong
              >
              <strong
              *ngIf="getTheFormGroup.contract_id.errors.pattern"
              class="msnError text-danger"
              >Solo se permiten números</strong
            >
            </div>
            </div>
          </div>
          <br />

          <!-- Campo ID del Vehículo -->
          <div class="row">
            <div class="col-4">
              <label>ID del Vehículo</label>
            </div>
            <div class="col-8">
              <input type="number" class="form-control" [(ngModel)]="routes.vehicle_id" formControlName="vehicle_id">
              <div
              *ngIf="
                getTheFormGroup.vehicle_id.errors &&
                (getTheFormGroup.vehicle_id.dirty ||
                  getTheFormGroup.vehicle_id.touched ||
                  trySend)
              "
            >
              <!-- si el form group location tine un error de requerido colocamos un mensaje de requerido -->
              <strong
                *ngIf="getTheFormGroup.vehicle_id.errors.required"
                class="msnError text-danger"
                >Requerido</strong
              >
              <strong
              *ngIf="getTheFormGroup.vehicle_id.errors.pattern"
              class="msnError text-danger"
              >Solo se permiten números</strong
            >
            </div>
            </div>
          </div>
          <br />

          <!-- Botones de acción -->
          <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
              <button *ngIf="mode == 2" class="btn btn-success btn-block" (click)="create()">
                Crear
              </button>
              <button *ngIf="mode == 3" class="btn btn-success btn-block" (click)="update()">
                Actualizar
              </button>
            </div>
          </div>
        </div>
</form>

      </div>
    </div>
  </div>
</div>

