<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
      aria-controls="sidenav-collapse-main">
      <img src="assets/img/icons/fondo.png" alt="logo">
    </button>
    <!-- Brand -->
    <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard']">
      <img class="h-auto max-w-md" src="assets/img/icons/image.png" alt="logo">
    </a>


    <!-- Collapse -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="assets/img/icons/fondo.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Buscador -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Buscar"
            aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>

      <!-- Navigation -->
      <ul class="navbar-nav">
        <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
          <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
            <i class="ni {{menuItem.icon}}"></i>
            {{menuItem.title}}
          </a>
        </li>
      </ul>
      <!-- Divider -->
      <hr class="my-3">
      <!-- Heading -->
      <h6 class="navbar-heading text-muted"> NAVAD Transport </h6>
      <!-- Navegacion por las clases -->
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">

          <!-- Administrador -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/administrator/list']">
            <i class="ni ni-single-02">
              <span class="align-middle"> Administrador </span>
            </i>
          </a>
          <!-- Centros de distribucion -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/distributionCenters/list']">
            <i class="ni ni-shop">
              <span class="align-middle"> Centros Distribución </span>
            </i>
          </a>
          <!-- Cliente -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/clients/list']">
            <i class="ni ni-single-02">
              <span class="align-middle"> Cliente </span>
            </i>
          </a>
          <!-- Conductor -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/driver/list']">
            <i class="ni ni-single-02">
              <span class="align-middle"> Conductor </span>
            </i>
          </a>
          <!-- Contrato -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/contracts/list']">
            <i class="ni ni-bus-front-12">
              <span class="align-middle"> Contrato </span>
            </i>
          </a>
          <!-- Cuota -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/quotas/list']">
            <i class="ni ni-money-coins">
              <span class="align-middle"> Cuota </span>
            </i>
          </a>
          <!-- Departamento -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/departments/list']">
            <i class="ni ni-world-2">
              <span class="align-middle"> Departamento </span>
            </i>
          </a>
          <!-- Dirección -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/addresses/list']">
            <i class="ni ni-square-pin">
              <span class="align-middle"> Dirección </span>
            </i>
          </a>
          <!-- Dueño Vehiculo -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/owners/list']">
            <i class="ni ni-single-02">
              <span class="align-middle"> Dueños Vehiculo </span>
            </i>
          </a>
          <!-- Vehiculo dueño -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/vehicleOwners/list']">
            <i class="ni ni-badge">
              <span class="align-middle"> Dueño Vehiculo </span>
            </i>
          </a>
          <!-- Factura -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/invoice/list']">
            <i class="ni ni-collection">
              <span class="align-middle"> Factura </span>
            </i>
          </a>
          <!-- Gasto -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/expense/list']">
            <i class="ni ni-money-coins">
              <span class="align-middle"> Gasto </span>
            </i>
          </a>
          <!-- Lote -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/batches/list']">
            <i class="ni ni-box-2">
              <span class="align-middle"> Lote </span>
            </i>
          </a>
          <!-- Municipio -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/municipalities/list']">
            <i class="ni ni-world-2">
              <span class="align-middle"> Municipio </span>
            </i>
          </a>
          <!-- Orden de ruta -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/addreRouteOrders/list']">
            <i class="ni ni-pin-3">
              <span class="align-middle"> Orden de ruta</span>
            </i>
          </a>
          <!-- Operación -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/operations/list']">
            <i class="ni ni-bus-front-12">
              <span class="align-middle"> Operación </span>
            </i>
          </a>
          <!-- Persona Natural -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/people/list']">
            <i class="ni ni-single-02">
              <span class="align-middle"> Persona Natural </span>
            </i>
          </a>
          <!-- Producto -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/products/list']">
            <i class="ni ni-box-2">
              <span class="align-middle"> Producto </span>
            </i>
          </a>
          <!-- Ruta -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/routes/list']">
            <i class="ni ni-pin-3">
              <span class="align-middle"> Ruta </span>
            </i>
          </a>
          <!-- seguro -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/insurances/list']">
            <i class="ni ni-money-coins">
              <span class="align-middle"> Seguro </span>
            </i>
          </a>
          <!-- Servicio -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/service/list']">
            <i class="ni ni-bus-front-12">
              <span class="align-middle"> Servicio </span>
            </i>
          </a>
          <!-- vehicles -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/vehicles/list']">
            <i class="ni ni-badge">
              <span class="align-middle"> Vehiculo </span>
            </i>
          </a>
          <!-- Vehiculo Conductor -->
          <a class="dropdown-item flex items-center space-x-2" routerLinkActive="active"
            [routerLink]="['/vehicleDriver/list']">
            <i class="ni ni-badge">
              <span class="align-middle"> Vehiculo Conductor </span>
            </i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
