<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h1 *ngIf="mode == 1" class="mb-0">Visualizar</h1>
          <h1 *ngIf="mode == 2" class="mb-0">Crear</h1>
          <h1 *ngIf="mode == 3" class="mb-0">Actualizar</h1>
        </div>
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label>id:</label>
              </div>
              <div class="col-8">
                <p>{{ vehicledriver.id }}</p>
              </div>
            </div>

            <br />
            <div class="row">
              <div class="col-4">
                <label>Id del vehiculo</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="vehicledriver.vehicle_id"
                  [disabled]="mode == 1"
                  formControlName="vehicle_id"
                />
                <div
                  *ngIf="
                    getTheFormGroup.vehicle_id.errors &&
                    (getTheFormGroup.vehicle_id.dirty ||
                      getTheFormGroup.vehicle_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.vehicle_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.vehicle_id.errors.pattern"
                    class="msnError"
                    >El valor debe ser numerico</strong
                  >
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-4">
                <label>Id del conductor</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="vehicledriver.driver_id"
                  [disabled]="mode == 1"
                  formControlName="driver_id"
                />
                <div
                  *ngIf="
                    getTheFormGroup.driver_id.errors &&
                    (getTheFormGroup.driver_id.dirty ||
                      getTheFormGroup.driver_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.driver_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.driver_id.errors.pattern"
                    class="msnError"
                    >El valor debe ser numerico</strong
                  >
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <!-- <button *ngIf="mode == 1" class="btn btn-success btn-block" (click)="view()">
                                    Visualizar
                                </button> -->
                <button
                  *ngIf="mode == 2"
                  class="btn btn-success btn-block"
                  (click)="create()"
                >
                  Crear
                </button>
                <button
                  *ngIf="mode == 3"
                  class="btn btn-success btn-block"
                  (click)="update()"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
