<div class="header bg-gradient-danger pb-4 pt-5 pt-md-8">
  <div class="container-fluid">
      <!-- titulo -->
      <h1 class="text-white font-bold text-center lead">Bienvenidos!!</h1>
      <p class="text-muted text-white text-center lead">
        Nuestro objetivo es brindarte un sistema confiable, moderno y fácil de usar.
        ¡Gracias por elegirnos y ser parte de nuestra comunidad!
      </p>
  </div>
</div>

<div class="container-fluid bg-white">
  <div class=" bg-transparent">
    <img src="assets/img/icons/fondo.png" alt="logo">
    <img src="assets/img/icons/fondo2.png" alt="">
    <img src="assets/img/icons/fondo.png" alt="">
  </div>

  <!-- Párrafos descriptivos -->
  <div class="text-center">
    <p class="lead">
      Bienvenido a NAVAD Transport, una solución integral diseñada para modernizar y optimizar la gestión de servicios
      de transporte de carga de productos. Este sistema ha sido desarrolladoutilizando una variedad de tecnologías y
      frameworks, con el objetivo de proporcionar una herramienta robusta,
      eficiente y fácil
      de usar que aborde todas las necesidades operativas de una transportadora de carga de productos en el entorno
      colombiano.
    </p>
  </div>

</div>
