<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h1 *ngIf="mode == 1" class="mb-0">Visualizar</h1>
          <h1 *ngIf="mode == 2" class="mb-0">Crear</h1>
          <h1 *ngIf="mode == 3" class="mb-0">Actualizar</h1>
        </div>
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label>id:</label>
              </div>
              <div class="col-8">
                <p>{{ invoice.id }}</p>
              </div>
            </div>

            <br />
            <div class="row">
              <div class="col-4">
                <label>Fecha</label>
              </div>
              <div class="col-8">
                <input
                  type="date"
                  class="form-control"
                  [(ngModel)]="invoice.date"
                  [disabled]="mode == 1"
                  formControlName="date"
                />
                <div
                  *ngIf="
                    getTheFormGroup.date.errors &&
                    (getTheFormGroup.date.dirty ||
                      getTheFormGroup.date.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.date.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-4">
                <label>Total</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="invoice.total"
                  [disabled]="mode == 1"
                  formControlName="total"
                  placeholder="Ingrese el total"
                />
                <div
                  *ngIf="
                    getTheFormGroup.total.errors &&
                    (getTheFormGroup.total.dirty ||
                      getTheFormGroup.total.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.total.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.total.errors.pattern"
                    class="msnError"
                    >El valor debe ser numerico</strong
                  >
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-4">
                <label>Id de la cuota</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="invoice.quota_id"
                  [disabled]="mode == 1"
                  formControlName="quota_id"
                />
                <div
                  *ngIf="
                    getTheFormGroup.quota_id.errors &&
                    (getTheFormGroup.quota_id.dirty ||
                      getTheFormGroup.quota_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.quota_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.quota_id.errors.pattern"
                    class="msnError"
                    >Debe ser un valor numerico</strong
                  >
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-4">
                <label>Id del gasto</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="invoice.expense_id"
                  [disabled]="mode == 1"
                  formControlName="expense_id"
                />
                <div
                  *ngIf="
                    getTheFormGroup.expense_id.errors &&
                    (getTheFormGroup.expense_id.dirty ||
                      getTheFormGroup.expense_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.expense_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.expense_id.errors.pattern"
                    class="msnError"
                    >Debe ser un valor numerico</strong
                  >
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-4">
                <label>Estado</label>
              </div>
              <div class="col-8">
                <input
                  type="checkbox"
                  class="form-control"
                  [(ngModel)]="invoice.status"
                  [disabled]="mode == 1"
                />
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <!-- <button
                *ngIf="mode == 1"
                class="btn btn-success btn-block"
                (click)="view()"
              >
                Visualizar
              </button> -->
                <button
                  *ngIf="mode == 2"
                  class="btn btn-success btn-block"
                  (click)="create()"
                >
                  Crear
                </button>
                <button
                  *ngIf="mode == 3"
                  class="btn btn-success btn-block"
                  (click)="update()"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
